.ariaComboBox:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  row-gap: var(--token-ZQ0eNBoDC5Qz);
}
.ariaComboBox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.freeBox___3TUo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.ariaInput:global(.__wab_instance) {
  box-shadow: inset 0px 0px 0px 1px var(--token-GndCXXbIV_y8);
  width: 100%;
  font-size: var(--token-1JD7yS0Aqqn2);
  line-height: var(--token-iHukMH6ccj0V);
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-A21YGqUNxHMn);
  padding: var(--token-A21YGqUNxHMn) var(--token-thqqDUqVyPhj)
    var(--token-A21YGqUNxHMn) var(--token-A2fbhTSXn1YN);
  border-style: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  object-fit: cover;
  background: none;
  position: absolute;
  right: 0;
  width: var(--token-thqqDUqVyPhj);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--token-thqqDUqVyPhj);
  flex-shrink: 0;
  border-radius: var(--token-A21YGqUNxHMn);
  padding: var(--token-A21YGqUNxHMn) var(--token-A2fbhTSXn1YN);
  border: 1px none black;
}
.freeBox__ylr0R {
  display: flex;
  position: relative;
  flex-direction: column;
}
.svg {
  width: var(--token-JnnbfQMYlbAi);
  height: var(--token-JnnbfQMYlbAi);
  flex-shrink: 0;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__ehZee {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
