.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: url("/plasmic/light_saa_s_landing_page/images/heroImageSvg2.svg") top 50% left 50% / cover repeat, #e5eeff;
  height: 100%;
  min-height: 0;
  padding: 52px 0px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (max-width: 930px) {
  .headerHeroSection {
    padding-bottom: 0px;
    background: url("/plasmic/light_saa_s_landing_page/images/heroImageSvg2.svg") top 129% left 0% / cover repeat,
      #e5eeff;
  }
}
.navbar:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.section:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.table2:global(.__wab_instance) {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  font-weight: 300;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  background: var(--token-dKW5QXQemIP2);
  font-style: normal;
  text-decoration-line: none;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 16px;
}
.tradesApiFetches:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.customTradeTable:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  bottom: auto;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.footerSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
