.root:global(.__wab_instance) {
  position: relative;
  background: #185adb;
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-JBjaZ4N7dwxR);
  font-family: var(--token-e_nRxxcKhz-c);
  font-size: var(--token-1JD7yS0Aqqn2);
  line-height: var(--token-iHukMH6ccj0V);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-A21YGqUNxHMn);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-baAecGwi-etz);
  outline-offset: 1px;
  outline-color: var(--token-WLWVZMhYfout);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-y6grKnyAzIee);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-DzZO8HcuAVwT);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-I_LmKsChb9f6);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-mMJ1P6ONggY2);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-bGcLIeZwcaRC);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-ENT6bZk7T_OS);
  font-size: var(--token-E76GGm_UEyZx);
  column-gap: var(--token-baAecGwi-etz);
  row-gap: 0px;
  border-radius: var(--token-ZQ0eNBoDC5Qz);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-E76GGm_UEyZx);
  line-height: var(--token-ENT6bZk7T_OS);
  column-gap: var(--token-ZQ0eNBoDC5Qz);
  row-gap: 0px;
  border-radius: var(--token-ZQ0eNBoDC5Qz);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-xx2BuNeROVV-);
  line-height: var(--token-3GKo0bCzw0Bg);
  padding: 8px 16px;
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-xx2BuNeROVV-);
  line-height: var(--token-3GKo0bCzw0Bg);
  padding: 16px 32px;
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-OUv1VTaqNfqo);
  border-radius: var(--token-A21YGqUNxHMn);
}
.softBackgroundcolor_neutral {
  background: var(--token-JGBB9IthzSQg);
}
.softBackgroundcolor_muted {
  background: var(--token-TOxsly2RNqUF);
}
.softBackgroundcolor_success {
  background: var(--token-2T_2QO3OQi4T);
}
.softBackgroundcolor_warning {
  background: var(--token-qbKAEdNtKONo);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-qJFiRMjyji91);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-A21YGqUNxHMn);
  border: 0px solid var(--token-zz7uXOYhJiwD);
}
.bordercolor_neutral {
  border-color: var(--token-Bm-HPoYZlSHo);
}
.bordercolor_muted {
  border-color: var(--token-o0k_q-qYtHUt);
}
.bordercolor_success {
  border-color: var(--token-JaJKVuSbf6Nt);
}
.bordercolor_warning {
  border-color: var(--token-U1FLQHVLZSDR);
}
.bordercolor_errorDestructive {
  border-color: var(--token-ABPLO_XsSiey);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
  border-color: #185adb;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-A21YGqUNxHMn);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-pQT_5RzrXiRY);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-xGPJK_RZbja-);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-gb2X5WNW84CY);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__czDbR {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-A21YGqUNxHMn) var(--token-A2fbhTSXn1YN);
}
.freeBox__czDbR > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-A21YGqUNxHMn));
  width: calc(100% + var(--token-A21YGqUNxHMn));
}
.freeBox__czDbR > :global(.__wab_flex-container) > *,
.freeBox__czDbR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__czDbR > :global(.__wab_flex-container) > picture > img,
.freeBox__czDbR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-A21YGqUNxHMn);
}
.freeBoxsize_extraSmall__czDbR8LaMf {
  padding: var(--token-ZQ0eNBoDC5Qz) var(--token-A21YGqUNxHMn);
}
.freeBoxsize_small__czDbR0G59U {
  padding: var(--token-A21YGqUNxHMn) var(--token-JBjaZ4N7dwxR);
}
.freeBoxsize_large__czDbRlPSdO {
  padding-top: var(--token-ZQ0eNBoDC5Qz);
  padding-bottom: var(--token-ZQ0eNBoDC5Qz);
}
.freeBoxsize_extraLarge__czDbR9GdAq {
  padding-left: var(--token-UzvsA7TfYE_y);
  padding-right: var(--token-UzvsA7TfYE_y);
}
.freeBoxroundedFull__czDbRQpd2C {
  padding-right: var(--token-UzvsA7TfYE_y);
  padding-left: var(--token-UzvsA7TfYE_y);
}
.freeBox___2Zt2K {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___2Zt2Knwwv {
  display: flex;
}
.slotTargetStart {
  color: var(--token-UHQWF0V1H7J4);
}
.slotTargetStartcolor_neutral {
  color: var(--token-ayg0V_5d4nLh);
}
.slotTargetStartcolor_muted {
  color: var(--token-V6SfLCFdX8WW);
}
.slotTargetStartcolor_success {
  color: var(--token-yES0lc3tCsAO);
}
.slotTargetStartcolor_warning {
  color: var(--token-YpQduSuqAty2);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-agxGs4ch3Pkr);
}
.slotTargetStarttype_soft {
  color: var(--token--O8dsDxM-of-);
}
.slotTargetStarttype_bordered {
  color: var(--token--O8dsDxM-of-);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-E76GGm_UEyZx);
}
.slotTargetStartsize_small {
  font-size: var(--token-E76GGm_UEyZx);
}
.slotTargetStartsize_large {
  font-size: var(--token-xx2BuNeROVV-);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-xx2BuNeROVV-);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-jbmUobePQVMt);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-jbmUobePQVMt);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-HH7re7EdVztG);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-HH7re7EdVztG);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-G2L6BLM3K4SL);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-G2L6BLM3K4SL);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-3Jsh_GCQYo8K);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-3Jsh_GCQYo8K);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-m_cLLOZcixBU);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-m_cLLOZcixBU);
}
.svg__nqrAt {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-UHQWF0V1H7J4);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-ayg0V_5d4nLh);
}
.slotTargetLabelcolor_muted {
  color: var(--token-V6SfLCFdX8WW);
}
.slotTargetLabelcolor_success {
  color: var(--token-yES0lc3tCsAO);
}
.slotTargetLabelcolor_warning {
  color: var(--token-YpQduSuqAty2);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-agxGs4ch3Pkr);
}
.slotTargetLabeltype_soft {
  color: var(--token--O8dsDxM-of-);
}
.slotTargetLabeltype_bordered {
  color: var(--token--O8dsDxM-of-);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-jbmUobePQVMt);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-HH7re7EdVztG);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-jbmUobePQVMt);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-G2L6BLM3K4SL);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-HH7re7EdVztG);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-3Jsh_GCQYo8K);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-G2L6BLM3K4SL);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-m_cLLOZcixBU);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-3Jsh_GCQYo8K);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-m_cLLOZcixBU);
}
.text___0MiAk {
  white-space: pre;
}
.freeBox__vzIgr {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__vzIgrdVGqp {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-UHQWF0V1H7J4);
}
.slotTargetEndcolor_neutral {
  color: var(--token-ayg0V_5d4nLh);
}
.slotTargetEndcolor_muted {
  color: var(--token-V6SfLCFdX8WW);
}
.slotTargetEndcolor_success {
  color: var(--token-yES0lc3tCsAO);
}
.slotTargetEndcolor_warning {
  color: var(--token-YpQduSuqAty2);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-agxGs4ch3Pkr);
}
.slotTargetEndtype_soft {
  color: var(--token--O8dsDxM-of-);
}
.slotTargetEndtype_bordered {
  color: var(--token--O8dsDxM-of-);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-E76GGm_UEyZx);
}
.slotTargetEndsize_small {
  font-size: var(--token-E76GGm_UEyZx);
}
.slotTargetEndsize_large {
  font-size: var(--token-xx2BuNeROVV-);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-xx2BuNeROVV-);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-jbmUobePQVMt);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-jbmUobePQVMt);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-HH7re7EdVztG);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-HH7re7EdVztG);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-G2L6BLM3K4SL);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-G2L6BLM3K4SL);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-3Jsh_GCQYo8K);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-3Jsh_GCQYo8K);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-m_cLLOZcixBU);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-m_cLLOZcixBU);
}
.svg__xbFiP {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
