.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  row-gap: var(--token-ZQ0eNBoDC5Qz);
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__is9Ah {
  position: relative;
  display: flex;
  flex-direction: column;
}
.freeBox__is9Ah > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - var(--token-ZQ0eNBoDC5Qz));
  height: calc(100% + var(--token-ZQ0eNBoDC5Qz));
}
.freeBox__is9Ah > :global(.__wab_flex-container) > *,
.freeBox__is9Ah > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__is9Ah > :global(.__wab_flex-container) > picture > img,
.freeBox__is9Ah
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-ZQ0eNBoDC5Qz);
}
.radio__ba686:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__xxN5H:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__wxLM:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
